#account-user-details-container {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
}

#user-details-form {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.account-sa-form-fields {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.account-sa-form-fields > input {
    height: 30px;
    width: 50%;
}
