.login_container {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}

.login_container > h2 {
    display: block;
    width: 350px;
    height: 40px;
    font-weight: 300;
    color: #555555;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    background-color: #F5F5F5;
}

.login_form {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    height: 320px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	-moz-box-shadow:    0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	box-shadow:         0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    border: 1px solid lightgray;
    background-color: rgb(255, 255, 255);
}

.form_field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

.form_field input {
    height: 34px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.form_field input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.form_field label {
    color: #555555;
    padding-bottom: 5px;
}

.input_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid #CCCCCC;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.login_icon {
    font-size: 20px;
    background-color: #EEEEEE;
    height: 34px;
    border-right: 1px solid #CCCCCC;
    padding: 0 7px;
    color: #555555
}

.checkbox_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    padding: 2px 1px;
}

.checkbox_block > input{
    height: 13px;
    width: 13px;
    margin-right: 5px;
}

.login_submit {
    height: 36px;
    font-size: 1.2rem;
    background-color: #428BCA;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

.login_submit:hover {
    background-color: #3071aa;
    cursor: pointer;
}

.login_submit:focus {
    background-color: #3071aa;
    cursor: pointer;
    transform: scale(0.99);
}

.or_block {
    width: 100%;
    box-sizing: border-box;
}

.or_block > p {
    display: block;
    width: 100%;
    height: 26px;
    line-height: 20px;
    box-sizing: border-box;
    font-size: 1.3rem;
    color: #777777;
    margin-bottom: 10px;
}

.or_block > a {
    display: block;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 36px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #5CB85C;
    border-radius: 5px;
}

.or_block > a:hover {
    background-color: #45a345;
    cursor: pointer;
}

.or_block > a:focus {
    background-color: #45a345;
    cursor: pointer;
    transform: scale(0.99);
}
