.productList {
    width: 100%;
    height: 100vh;
    background-color: #dfe2e7;
    overflow-y: scroll;
}

.productList > h2 {
    margin: 20px 0;
    color: #374151;
}

.productListItemsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0 20px;
}
