.userscontainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.userform {
    background-color: rgb(225, 239, 252);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.userform > input {
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 30px;
}

.userform > input[type="submit"] {
    line-height: 25px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(71, 185, 223);
    color: white;
}

.userform > input[type="submit"]:hover {
    background-color: rgb(39, 153, 190);
    cursor: pointer;
}

.userform > input[type="submit"]:focus {
    transform: scale(0.92);
}

.useritemscontainer {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.useritm {
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 5px 0;
}
