.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #dfe2e7;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

@media only screen and (max-width: 800px) {
    .App {
        flex-direction: column;
    }
}
